.root {
    -fx-background-color: linear-gradient(to right top, #885fff, #0099ff, #00b8ff, #00cbc1, #3ad57d);
    -fx-border-radius: 5;
}

.menu-bar {
    -fx-background-color: #3c3c3c;
}

.button {
    -fx-background-radius: 0px;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-smooth: 0;
    -fx-border-radius: 0;
    -fx-text-fill: white;
}

#closeButton:hover{
    -fx-background-color: #ff3333;
}

#iconifyButton:hover {
    -fx-background-color: #00B8FF;
}

#refreshButton {
    -fx-background-color: transparent;
}

#refreshButton:hover {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

.label{
    -fx-font-family: Bahnschrift;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.hbox {
    -fx-padding: 15;
    -fx-spacing: 10;
}

.borders {
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 2;
}